<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" sizes="any" href="/image/layout/favicon.ico">
    <title>MetaBox</title>
    <style>
        @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

    </style>
</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light " style="border-bottom: 1px solid #dadada">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="navbar-brand-logo" src="/image/layout/logo.png">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav navbar-icons">
                {{^sessionUser}}
                    <li class="nav-item">
                        <a class="nav-link nav-link-flex" href="/login-form"><img class="nav-img"
                                                                                  src="/image/layout/loginPassword.png">
                            로그인</a>
                    </li>
                {{/sessionUser}}
                {{#sessionUser}}
                    <li class="nav-item">
                        <a class="nav-link nav-link-flex" href="/logout"><img class="nav-img"
                                                                              src="/image/layout/loginPassword.png">로그아웃</a>
                    </li>

                {{/sessionUser}}
                <li class="nav-item">
                    <a class="nav-link nav-link-flex" href="/mypage/home"><img class="nav-img"
                                                                               src="/image/layout/loginMember.png">
                        MY BOX</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-flex" href="#"><img class="nav-img"
                                                                    src="/image/layout/loginCustomer.png">
                        고객센터</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light sub-navbar" style="border-bottom: 1px solid #dadada; ">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="/movies/list" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        영화
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/movies/list">무비차트</a></li>
                        <li><a class="dropdown-item" href="#">상영예정작</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="/theaters/movie-schedule" id="navbarDropdownMenuLink"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        극장
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/theaters/movie-schedule">상영스케줄</a></li>
                        <li><a class="dropdown-item" href="/theaters/info">META BOX 위치</a></li>
                        <li><a class="dropdown-item" href="#">META관</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown active" href="/book-form">
                        예매
                    </a>
                </li>
            </ul>

        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
                <div style="border-left: 1px solid #dadada; border-right: 1px solid #dadada;">
                    <a class="nav-link" href="#">
                        <input type="text" placeholder="검색..." style="border:none; outline:none;">
                        <i style="font-size: 20px;" class="fas fa-search"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script>
    // 호버 시 드롭다운 메뉴 자동으로 표시
    var dropdowns = document.querySelectorAll('.navbar .dropdown');
    dropdowns.forEach(function (dropdown) {
        dropdown.addEventListener('mouseenter', function () {
            this.querySelector('.dropdown-menu').classList.add('show');
        });
        dropdown.addEventListener('mouseleave', function () {
            this.querySelector('.dropdown-menu').classList.remove('show');
        });
    });
</script>