<style>
    .sidebar {
        border-right: 1px solid #ddd;
        padding-right: 20px;

    }
    .sidebar h5 {
        margin-top: 20px;
        font-weight: bold;
    }
    .sidebar ul {
        padding-left: 5px;
        list-style: none;

    }
    .sidebar ul li {
        padding: 10px 0;
        cursor: pointer;
    }


</style>

<div class="col-md-2 sidebar">
    <ul>
        <li><a href="/mypage/home"><h5>MY HOME</h5></a></li>
        <li> <a href="/mypage/detail-book">나의 예매내역</a></li>
        <li> <a href="#">1:1 문의</a></li>
        <li><a href="/removeAccount">회원탈퇴</a></li>
    </ul>
</div>