

<!--<script>-->

<!--    // $(".theater-select div").on("click", function() {-->
<!--    //     let theaterName = $(this).data("theater");-->
<!--    //     let theaterId = $(this).data("theater-name-id");-->
<!--    //     console.log("네네 " + theaterName);-->
<!--    //     console.log("극장 ID: " + theaterId);-->
<!--    // });-->


<!--    &lt;!&ndash;    천단위 표시 재사용 해야할 함수 &ndash;&gt;-->
<!--    function numberWithCommas(num) {-->
<!--        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");-->
<!--    }-->

<!--    //처음에 들어갔을때 천단위 구분자 나오게-->
<!--    $(".point-price").each(function () {-->
<!--        let pointPrice = $(this).text();    // p태그라 text-->
<!--        $(this).text(numberWithCommas(pointPrice));-->

<!--    });-->
<!--</script>-->