{{> layout/header}}

<style>
    .container1 {
        margin-top: 50px;
        background-color: #353234;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: white;
    }

    .header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .input-group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .input-group input {
        width: 18%;
        padding: 10px;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #555;
        color: white;
    }

    .input-group .add-btn {
        width: 5%;
        padding: 10px;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #555;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .regions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .regions div {
        cursor: pointer;
    }

    .theaters {
        display: flex;
        flex-wrap: wrap;
    }

    .theaters div {
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .schedule {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        color: black;
    }

    .schedule .movie {
        margin-bottom: 20px;
    }

    .schedule .movie h3 {
        margin-bottom: 10px;
    }

    .schedule .movie .times {
        display: flex;
        flex-wrap: wrap;
    }

    .schedule .movie .times .timeitems {
        border-radius: 0px;
        border: 1px solid #a7a5a5;
        cursor: pointer;
        padding: 5px 10px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

    .date-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .date-pagination div {
        margin: 0 10px;
        cursor: pointer;
    }

    .date-pagination .selected {
        font-weight: bold;
        border: 2px solid black;
        padding: 5px;
    }

    .date-pagination .arrow {
        cursor: pointer;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .button-container .btn1 {
        background-color: #ff4d4d;
        color: white;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        animation: fadeIn 0.5s;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .tab-d {
        display: flex;
        cursor: pointer;
        padding: 10px;
        background-color: #f1f1f1;
        margin-bottom: 10px;
    }

    .tab-d div {
        flex: 1;
        text-align: center;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .tab-d div.active {
        background-color: #4E0929;
        color: white;
        font-weight: bold;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: block;
    }

    .theater-list {
        display: flex;
        flex-wrap: wrap;
    }

    .theater-list div {
        flex: 1;
        margin: 5px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        background-color: #f9f9f9;
        cursor: pointer;
        color: black;
    }

    .selected-theater {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .selected-theater div {
        flex: 1;
        margin: 5px;
        width: 220px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        background-color: #f9f9f9;
        color: black;
        position: relative;
    }

    .selected-theater .delete-button {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        background: none;
        font-size: 18px;
        cursor: pointer;
        color: black;
    }

    #checkListButton {
        background-color: #4E0929; /* 배경색 */
        color: white; /* 텍스트 색상 */
        border: none; /* 테두리 제거 */
        padding: 10px 20px; /* 패딩 */
        text-align: center; /* 텍스트 정렬 */
        text-decoration: none; /* 텍스트 장식 제거 */
        display: inline-block; /* 인라인 블록 */
        font-size: 16px; /* 폰트 크기 */
        margin: 10px 0; /* 마진 */
        cursor: pointer; /* 커서 포인터 */
        border-radius: 5px; /* 모서리 둥글게 */
        transition: background-color 0.3s ease; /* 배경색 전환 효과 */
        width: 200px;
    }

</style>

<div class="mx-auto d-block" style="width: 1000px;">
<div class="container1" style="user-select: none; height: 383px">
    <div class="header" style="user-select: none;">자주가는 META BOX</div>
    <div class="input-group grid theater-select">
        {{#model.scrapDTOList}}
            <div style="padding:10px; width: 173px; height: 46px; background: #555555; user-select: none;"
                 data-theater-name-id="{{theaterId}}" data-theater="{{theaterName}}">{{theaterName}}</div>
        {{/model.scrapDTOList}}
        <div class="add-btn setting" style="user-select: none;" onclick="openModal()">+</div>
    </div>

    <div class="tab" style="border-bottom: 1px solid #b1b1b1; border-top: 1px solid #b1b1b1">
        {{#model.theaterAreaDTOList}}
            <div class="tablinks" onclick="openCity(event, '{{areaCode}}')">{{areaName}}</div>
        {{/model.theaterAreaDTOList}}
    </div>

    <!--         탭 콘텐츠 -->
    {{#model.theaterAreaDTOList}}
    <div style="padding: 10px; cursor: pointer" id="{{areaCode}}" class="tabcontent">
        {{#theaterNameDTOList}}
            <div onclick="location.href='?theaterId={{theaterId}}'" style="display: inline-block;">{{theaterName}}
            <span>ㅣ</span>
        </div>
        {{/theaterNameDTOList}}
    </div>
    {{/model.theaterAreaDTOList}}


    <!-- 모달창 html 디자인 -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="tab tab-d">
                <div style="background-color: #4E0929; color: white">자주가는 META BOX</div>
            </div>
            <div class="tab-content active" id="tab1">
                <div class="theater-list theater-area-list">
                    {{#model.theaterAreaDTOList}}
                        <div class="tab-button" data-theater-id="{{areaCode}}"
                             data-area="{{areaName}}">{{areaName}}</div>
                    {{/model.theaterAreaDTOList}}
                </div>
            </div>
            {{#model.theaterAreaDTOList}}
                <div class="tab-content area-name-list" id="area-name-list-{{areaCode}}">
                    {{#theaterNameDTOList}}
                        <div class="theater-list theater-list-name">
                            <div data-theater-name-id="{{theaterId}}"
                                 data-theater="{{theaterName}}">{{theaterName}}</div>
                        </div>
                    {{/theaterNameDTOList}}
                </div>
            {{/model.theaterAreaDTOList}}

            <div class="selected-theater">
                <!-- 선택한 극장이 여기 표시됩니다 -->

            </div>

            <div class="button-container">
                <button id="checkListButton" type="button" onclick="checkList()">확인</button>
            </div>

        </div>
    </div>
    <!--    모달 디자인 끝-->



    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        document.addEventListener("DOMContentLoaded", function () {
            openCity(new Event('click'), '01');
        });
    </script>

    <style>
        /*탭 링크 스타일 */
        .tab {
            overflow: hidden;
            text-align: center;
            user-select: none;
        }

        /* 탭 링크 버튼 스타일 */
        .tab div {
            background-color: inherit;
            user-select: none;
            display: inline-block;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            text-align: center;
        }

        /* 탭 콘텐츠 스타일 */
        .tabcontent {
            display: inline-block;
            user-select: none;
            padding: 6px 12px;
            border-top: none;
        }
    </style>
</div>
<br>
<img src="/image/theater/theater_2.png" width="100%" alt="">
<h2>{{model.theaterName}}</h2>
<img width="100%" src="/image/theater/{{model.theaterImgFilename}}" alt="">
<div class="button-container">
    <div onClick="location.href='/theaters/movie-schedule?theaterId={{model.theaterId}}'" style="cursor:pointer"
    class="btn1 py-1 px-2">
    <i class="fas fa-calendar-alt me-2"> </i>
    상영시간표
</div>
<div style="background-color: #ff4d4d; color: #e0e0e0;" class="py-1">ㅣ</div>
<button onClick="parkingInfo('/theaters/info',1200)" style="cursor:pointer"
        class="btn1 py-1 px-2">
    위치/주차안내
</button>
</div>

<!--위치안내 페이지 자동으로 위치에 맞게 스크롤-->
<script>
    function parkingInfo(url, scrollPosition) {
        // Add the scroll position as a query parameter
        window.location.href = `${url}?scroll=${scrollPosition}`;
    }
</script>
<div class="mt-3 mb-5">
    <div class="section-content">
        <div class="d-flex justify-content-between">
            <h5 style="font-weight: bold;" class="section-title"><i class="fas fa-bus icon"></i> 교통안내</h5>
            <div onclick="location.href='https://map.naver.com/p/search/cgv%20%EA%B0%95%EB%82%A8/place/12272750?c=15.00,0,0,0,dh&placePath=%3Fentry%253Dbmp'"
                 class="my-1 p-1"
                 style=" border: 2px solid #ff4d4d; font-size: 12px; color: #ff4d4d; font-weight: bold; cursor: pointer;">
                실시간 빠른 길 찾기
            </div>
        </div>

        <div style="border: 0; height: 2px; background-color: black;"></div>
        <br>
        <div># 지하철</div>
        <div>
            <div>- 2호선 강남역 11번 출구 도보 5분</div>
            <div>- 9호선 신논현역 6번 출구 도보 5분</div>
            <div>- 신분당선 신논현역 6번 출구 도보 3분</div>
        </div>
        <br>
        <div># 버스</div>
        <div>
            <div>- 간선버스: 140, 144, 145, 146, 360, 400, 402, 420, 421, 440, 441, 452, 470, 542, 640, 643, 741
            </div>
            <div>- 심야: N13, N31, N37, N75</div>
            <div>- 지선버스: 3412, 4312, 8146, 8541</div>
            <div>- 광역버스: 1005, 1100, 1101, 1151, 1241, 1311, 1311B, 1550, 1550-1, 1551, 1551B, 1552, 1560, 1570,
                1700, 2000, 2000-1, 3008, 3030, 3100, 3401, 3600, 4043, 5001, 5001-1, 5002A, 5002B, 5003A,
                5003B, 5006, 5100, 5200, 5300, 6001, 6002, 6002-1, 6004, 6427, 6600, 7007, 8001, 8502, 9004,
                9202, 9303, 9400, 9404, 9408, 9409, 9500, 9501, 9600, 9700, 9711, 9800, 9802, G5100, G7426,
                M4403, M4434, M4448, M4449, M5422, M5438, M6427, M7412, P2901, 이음2
            </div>
            <div>- 심야: 1101N, 3100N</div>
            <div>- 마을버스: 서초03</div>
            <div>- 공항버스: 6009</div>
        </div>
    </div>
    <br>
    <div class="section-content">
        <h5 style="font-weight: bold;" class="section-title"><i class="fas fa-car icon"></i> 주차안내</h5>
        <div style="border: 0; height: 2px; background-color: black;"></div>
        <br>
        <div># 주차정보</div>
        <div>- 위치: 건물 지하2F ~ 지하4F</div>
        <br>
        <div># 주차요금</div>
        <div>
            <div>- CGV 영화 관람 시 주차 3시간 6,000원</div>
            <div>- 주차시간 (3시간) 초과 시 10분 당 1,000원</div>
            <div>- 발렛서비스 운영시간: 오전 8시 이후 ~ 오후 20시</div>
            <div>- 발렛 무료 서비스는 영화 관련 고객 한 함. (영화 미관람 시 건물 주차장에서 별도 정산)</div>
            <div>- 20시 이후 입차 차량은 발렛서비스 이용이 제한될 수 있으며, 별도 운영되는 주차팀의 사정에 따라 변경될 수 있습니다.</div>
        </div>
        <br>
        <div># 이용안내</div>
        <div>
            <div>- 주차공간이 협소하여 평일 오후/주말은 주차가 어렵습니다.</div>
            <div>- 편리한 대중교통 이용을 이용하여 주시기 바랍니다.</div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function() {
        const maxSlots = 5;
        const $grid = $('.grid');
        const currentSlots = $grid.children().length - 1; // 설정 버튼 제외
        const emptySlots = maxSlots - currentSlots;

        for (let i = 0; i < emptySlots; i++) {
            $('<div></div>').css({
                padding: '10px',
                width: '173px',
                height: '46px',
                background: '#555555',
                userSelect: 'none'
            }).insertBefore('.setting');
        }
    });

    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    window.onload = function () {
        // Get the scroll position from the query parameter
        const scrollPosition = getQueryParam('scroll');
        if (scrollPosition) {
            // Scroll to the specified position
            window.scrollTo(0, parseInt(scrollPosition));
        }
    };

    <!-- 여기는 모달창 -->


    // 스크랩 납치
    let myTheaterScrap = [];

    function checkList() {
        // alert("작동함1");

        // theaterName 의 id, theater 값 잘 받아오는지 확인용
        $('.selected-theater div').each(function () {

            // alert("작동함3");
            // theater pk 키
            let theaterNameId = $(this).data("theater-name-id");
            console.log("극장pk " + theaterNameId);

            // 중복 확인
            if (!myTheaterScrap.some(item => item.theaterNameId === theaterNameId)) {
                let selectList = {
                    theaterNameId: theaterNameId
                };

                myTheaterScrap.push(selectList);

                // alert("작동함4");
            }

        });

        // alert("작동함5");
        console.log("이거 나오나요? " + myTheaterScrap);
        console.log("이쪽은 나오나요 ?? " + JSON.stringify(myTheaterScrap));

        // alert("작동함6");

        $.ajax({
            url: '/mypage/home/scrap',
            data: JSON.stringify(myTheaterScrap),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res) => {
            alert("자주가는 META BOX 설정이 완료되었습니다.");
            closeModal();
            location.reload();

        }).fail((res) => {
            alert("error!")
        });

    }


    // 모달창 script
    function openModal() {
        $("#myModal").css("display", "block");

        // 이미 선택된 극장을 모달의 selected-theater에 추가
        $(".theater-select div[data-theater-name-id]").each(function () {
            const theaterName = $(this).data("theater");
            console.log("ddd " + theaterName);
            const theaterNameId = $(this).data("theater-name-id");
            console.log("hhh " + theaterNameId);

            $(`.theater-list-name div[data-theater="${theaterName}"]`).css('background-color', '#c6c6c6');
            const selectedTheater = $(`
                <div data-theater="${theaterName}" data-theater-name-id="${theaterNameId}">
                    ${theaterName}
                    <button class="delete-button">&times;</button>
                </div>
            `);
            selectedTheater.find('.delete-button').on('click', function () {
                const parentDiv = $(this).parent();
                const theaterName = parentDiv.data('theater');
                $(`.theater-list-name div[data-theater="${theaterName}"]`).css('background-color', '');
                myTheaterScrap = myTheaterScrap.filter(item => item.theaterNameId !== parentDiv.data('theater-name-id'));
                parentDiv.remove();
            });
            $('.selected-theater').append(selectedTheater);
        });
    }

    function closeModal() {
        $("#myModal").css("display", "none");
        $('.selected-theater').empty(); // 모달 닫을 때 선택된 극장 목록 초기화
    }

    // area 거는 것
    $('.theater-area-list').on('click', '.tab-button', function () {
        // alert("찍힘 ")
        let id = $(this).data('theater-id');
        // console.log("id " + id)
        $('.area-name-list').removeClass('active');
        // 클릭한 버튼과 일치하는 영역 표시
        $('#area-name-list-' + id).addClass('active');
    });

    // 최대 5개. 중복체크도 필요함
    const maxSelectedTheaters = 5;

    // MEATABOX 강남 거는 것
    $('.theater-list-name div').on('click', function () {
        $(this).css({
            'background-color': '#c6c6c6', // 배경색도 추가
        });

        // 중복체크 용 값
        const theaterName = $(this).data('theater');
        console.log("네임 " + theaterName)

        // 중복제거
        let isSelected = false;
        $('.selected-theater div').each(function () {

            // 악 이거 지금 그냥 text만 찍으니까 &times; 이값이랑 같이 가져와서 그런다 ㅠㅠ contents~filter 같이 써야한다
            // 지금은 밑에 data 넣어놔서 data 값으로 꺼내와도 되는데 일단은 바꾸지 않겠다!!
            const textNode = $(this).contents().filter(function () {
                return this.nodeType === 3; // 텍스트 노드만 선택
            }).text().trim();

            // console.log("왜안될까요 " + $(this).text());
            if (textNode === theaterName) {
                isSelected = true;
                return false;
            }
        });

        // 이 코드도 있어야지 중복 해결 됨!!
        if (isSelected) {
            // alert("중복");
            return;
        }


        if ($('.selected-theater div').length >= maxSelectedTheaters) {
            alert('최대 5개의 극장만 선택할 수 있습니다.');
            return;
        }

        // 스크랩용
        let theaterNameIds = $(this).data("theater-name-id");
        console.log("아이디아이디 = " + theaterNameIds);

        // 극장 추가
        // console.log("네임아 " + theaterName);
        const selectedTheater = $(`
            <div data-theater="${theaterName}" data-theater-name-id="${theaterNameIds}">
                ${theaterName}
                <button class="delete-button">&times;</button>
            </div>
        `);

        selectedTheater.find('.delete-button').on('click', function () {
            // delete-button 의 parent인 div data-theater에서 theaterName 을 찾음
            const parentDiv = $(this).parent();
            // console.log("이거 뭘까 = " + parentDiv);
            // 그 theaterName에서 date 값을 가져옴
            const theaterName = parentDiv.data('theater');
            // console.log("이건? = " + theaterName);

            // 해당 극장의 배경색 초기화
            // 그럼 data-theater에서 theaterName 인 div 를 찾아 css 를 빼주면 됨!
            $(`.theater-list-name div[data-theater="${theaterName}"]`).css({
                'background-color': '', // 배경색 초기화
            });

            // myTheaterScrap에서 해당 극장 제거
            myTheaterScrap = myTheaterScrap.filter(item => item.theaterNameId !== parentDiv.data('theater-name-id'));

            $(this).parent().remove();
        });

        $('.selected-theater').append(selectedTheater);

    });

    // 여기는 모달창 //


</script>

{{> layout/footer}}