{{> layout/header}}
<style>
    .main-banner {
        position: relative;
        height: 500px;
        color: white;
        text-align: center;
        background-color: #000;
    }

    .main-banner .movie-main {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .main-banner .movie-main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-banner .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .login-container-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .login-container {
        width: 100%;
        max-width: 500px;
        padding: 20px;

        text-align: center;
    }
    .login-button {
        width: 80%;
        margin-top: 20px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        color: white;
    }
    .login-button img {
        margin-right: 10px;
        height: 24px;
    }
    .naver-button {
        background-color: #1ec800;
    }
    .kakao-button {
        background-color: #ffeb00;
    }
    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .login-active {
        display: flex;
        border-bottom: 2px solid  #4b1b3a;
    }

    .login-active-title {
        background-color: #4b1b3a;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: white;
        border-radius: 5px 5px 0 0;
    }
</style>
<div class="login-container-box">
    <div class="login-container">
        <div class="login-active">
            <div class="login-active-title">로그인</div>
        </div>
        <div class="button-group">
            <!-- 네이버 로그인 버튼 -->
            <button type="button" class="btn login-button naver-button" onclick="location.href='NAVER_OAUTH_URL'">
                <img src="네이버_로고.png" alt=" " onerror="this.onerror=null; this.src='기본_이미지.png';"> 네이버 로그인
            </button>
            <!-- 카카오 로그인 버튼 -->
            <button type="button" class="btn login-button kakao-button" onclick="location.href='KAKAO_OAUTH_URL'">
                <img src="카카오_로고.png" alt=" " onerror="this.onerror=null; this.src='기본_이미지.png';"> 카카오 로그인
            </button>
            <hr style="border: 2px solid #4b1b3a; width: 100%">
            <!-- 비회원 예매 버튼 -->
            <span><a href="/non-member" style="color: black">비회원 예매</a></span>

        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <!-- Main Banner -->
    <div class="main-banner">
        <div class="movie-main">
            <img src="image/index/login1.jpg" alt="Main Banner">
        </div>

    </div>
</div>



<!-- jQuery and Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{{> layout/footer}}