{{> layout/header}}
<style>
    .login-banner {
        height: 300px;
        position: relative;
        color: white;
        text-align: center;
        background-color: #000;
    }

    .login-banner .login-banner-main {
        width: 100%;
        height: 100%;
        background-color: #4b1b3a;
    }

    .login-banner .login-banner-main img {
        width: 80%;
        height: 100%;
        filter: blur(8px);
    }

    .login-banner .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .login-container-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .login-container {
        width: 100%;
        max-width: 500px;
        padding: 20px;

        text-align: center;
    }

    .login-button {
        width: 80%;
        margin-top: 20px;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        color: white;
        border-radius: 0;
    }

    .login-button img {
        margin-right: 10px;
        height: 24px;
    }

    .naver-button {
        background-color: #19CD60;
    }

    .kakao-button {
        background-color: #ffeb00;
    }

    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-active {
        display: flex;
        border-bottom: 2px solid #4b1b3a;
    }

    .login-active-title {
        background-color: #4b1b3a;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
        color: white;
        border-radius: 5px 5px 0 0;
    }

    /* 광고배너 */

    .ad-banner {
        position: fixed;
        bottom: 250px;
        right: 150px;
        width: 200px;
        /*background-color: #fff;*/
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
        z-index: 1000;
        text-align: center;
    }

    .ad-banner img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .ad-banner .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        color: white;
    }

    .ad-banner p {
        margin: 10px 0 0;
        font-size: 14px;
        color: #333;
    }
</style>

<div class="login-container-box">
    <div class="login-container">
        <div class="login-active">
            <div class="login-active-title">로그인</div>
        </div>
        <div class="button-group">
            <!-- 네이버 로그인 버튼 -->
            <button type="button" class="btn login-button naver-button"
                    onclick="location.href='https://nid.naver.com/oauth2.0/authorize?client_id=MKcMHT6RxvcSJjGvAutc&response_type=code&redirect_uri=http://localhost:8080/oauth/callback/naver&state=1234'">
                N<span>|</span>네이버 로그인
                <!--                <img src="네이버_로고.png" alt=" " onerror="this.onerror=null; this.src='기본_이미지.png';"> 네이버 로그인-->
            </button>
            <!-- 카카오 로그인 버튼 -->
            <button type="button" class="btn login-button kakao-button"
                    onclick="location.href='https://kauth.kakao.com/oauth/authorize?redirect_uri=http://localhost:8080/oauth/callback/kakao&response_type=code&client_id=7b3698608adc154feafed29a780bcd5b'">
                K<span>|</span>카카오 로그인
                <!--                <img src="카카오_로고.png" alt=" " onerror="this.onerror=null; this.src='기본_이미지.png';"> 카카오 로그인-->
            </button>
            <hr style="border: 2px solid #4b1b3a; width: 100%">
            <!-- 비회원 예매 버튼 -->
            <div>
                <span><a href="/guest/login-form" style="color: black">비회원 예매</a></span>
                <span>|</span>
                <span><a href="/guest/book-check-form" style="color: black">비회원 예매내역</a></span>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid p-0">
    <div class="login-banner">
        <div class="login-banner-main">
            <img src="/image/index/login-footer2.jpg" alt="Main Banner">
        </div>
        <div class="content">
            <h1>힐링이 필요할땐?!</h1>
            <p>무더운 여름 날, META BOX와 함께라면!!<br>Everyday META BOX와 함께해!</p>
        </div>
    </div>
</div>

<!--<div class="login-footer">-->
<!--    <img src="/image/index/login-footer1.png" style="width: 800px;">-->
<!--</div>-->

<!--광고배너-->
<div class="ad-banner" id="adBanner" style="cursor: pointer">
    <img src="/image/index/hija.jpg" alt="광고 이미지">
    <!--    <img src="/image/index/fishing.png" alt="광고 이미지">-->
    <button class="close-btn" id="closeAdBanner">&times;</button>
    <!--        <p>METABOX X FALLING</p>-->
</div>
<!--    광고배너-->

<!-- jQuery and Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    var $adBanner = $('#adBanner');
    var $closeAdBannerBtn = $('#closeAdBanner');

    // Check if the ad banner should be hidden
    if (getCookie('adBannerClosed') === 'true') {
        $adBanner.hide();
    }

    $closeAdBannerBtn.click(function () {
        $adBanner.hide();
        setCookie('adBannerClosed', 'true', 7); // Set cookie to expire in 7 days
    });

    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

</script>

{{> layout/footer}}