{{> layout/header}}
<style>
    body {
        background-color: #fff;
        font-family: 'Arial', sans-serif;
    }

    .profile-card {
        max-width: 100%;
        margin: 20px 10px;
        padding: 30px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
    }

    .profile-card img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ddd;
    }

    .profile-card .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-card .header .info {
        margin-left: 20px;
    }

    .profile-card .header .info h3 {
        margin: 0;
        font-weight: 600;
    }

    .profile-card .header .info p {
        margin: 5px 0;
    }

    .profile-card .points, .profile-card .vip-points {
        margin-bottom: 20px;
    }

    .profile-card .points h4, .profile-card .vip-points h4 {
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

    .profile-card .points p, .profile-card .vip-points p {
        margin: 0;
        font-size: 1rem;
    }

    .profile-card .grid {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .profile-card .grid div {
        flex: 1;
        margin: 0 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;
    }

    .profile-card .grid .setting {
        background-color: #343a40;
        color: white;
        font-size: 0.9rem;
        cursor: pointer;
    }

    .text-danger {
        color: #dc3545 !important;
    }

    .my-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .movie-chart img {
        width: 100%;
        height: auto;
    }

    .rating {
        display: flex;
        align-items: center;
    }

    .rating span {
        margin-right: 5px;
    }

    /* 취소 내역 */
    .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border-collapse: collapse;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
        padding: 8px;
        vertical-align: middle;
        text-align: center;
    }

    .table thead th {
        background-color: #f8f9fa;
        color: #495057;
        font-weight: bold;
    }

    .table tbody tr td {
        color: #6c757d;
    }

    .text-center {
        text-align: center;
    }

    .header-section {
        display: flex;
        align-items: center;
        justify-content: space-between; /* 필요에 따라 조정 가능 */
    }

    .header-section h5 {
        margin: 0;
        margin-right: 10px; /* 간격 조정 */
    }

    .header-section .info-text {
        margin: 0;
        font-size: 14px; /* 필요에 따라 조정 가능 */
        color: #6c757d; /* 필요에 따라 조정 가능 */
    }


    .custom-button {
        background-color: black;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .custom-button:hover {
        background-color: #333;
    }

    .d-flex {
        display: flex;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-between {
        justify-content: space-between;
    }


    .carousel-item img {
        width: 100%;
    }
</style>

<div class="container">
    <div class="profile-card">
        <div class="header">
            <img src="https://via.placeholder.com/100" alt="profile picture">
            <div class="info">
                <h3>박찬혁님</h3>
                <p><strong>cowtti97</strong></p>
                <p>고객님은 <span class="text-danger">일반</span> 입니다.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 points">
                <h4>POINT <span><i class="fas fa-plus"></i></span></h4>
                <p>사용가능 포인트 <strong>300 점</strong></p>
            </div>
            <div class="col-md-6 vip-points">
                <h4>VIP 점수 <i class="fas fa-question-circle"></i></h4>
                <p>VIP 누적 점수 <strong>300/10,000점</strong></p>
            </div>
        </div>
        <div class="grid">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div class="setting" style="text-align: center;">자주가는 극장 설정하기</div>
        </div>
    </div>

    <div class="row mt-5">
        {{> layout/sidebar}}
        <div class="col-md-9">
            <div class="my-3">
                <h5 style="font-weight: bolder;">나의 예매내역</h5>
            </div>
            <div class="my-3 d-flex align-items-center justify-content-between">
                <p class="mb-0" style="font-size: 15px; margin-top: -2%">지난 <span class="text-danger">1개월</span>까지의
                    예매내역을 확인하실 수 있습니다.</p>
                <a href="/mypage/detail-saw"><button class="custom-button" style="margin-top: -5%; font-weight: bolder;">내가 본 영화</button></a>
            </div>

            <hr style="height: 2px; background-color: black;">

            <div class="text-center">
                <div class="my-3">
                    <p style="font-size: 25px;">현장에서 발권하실 경우 꼭 <span class="text-danger">예매번호</span>를 확인하세요.</p>
                    <p style="font-size: 15px;">티켓판매대에서 예매번호를 입력하면 티켓을 발급받을 수 있습니다.</p>
                </div>
                <div class="my-3">
                    <p style="font-size: 15px;">고객님의 최근 예매내역이 존재하지 않습니다.</p>
                </div>
            </div>

            <br>
            <hr style="height: 1px; background-color: rgb(209, 209, 209);">
            <br>

            <div style="background-color: #F1F1F1; text-align: center;"><h5 class="my-3">TODAY BEST 무비차트</h5></div>
            <div id="carouselExampleControls" class="carousel slide movie-chart" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/200x300" alt="Inside Out 2">
                                <p class="mt-3" style="font-weight: bolder;">인사이드 아웃 2</p>
                                <div class="rating">
                                    <span>예매율 60.8%</span>
                                </div>
                                <p>2024.06.12 개봉</p>
                            </div>
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/200x300" alt="High Jacking">
                                <p class="mt-3" style="font-weight: bolder;">하이재킹</p>
                                <div class="rating">
                                    <span>예매율 8.0%</span>
                                </div>
                                <p>2024.06.21 개봉</p>
                            </div>
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/200x300" alt="Handsome Guys">
                                <p class="mt-3" style="font-weight: bolder;">핸섬가이즈</p>
                                <div class="rating">
                                    <span>예매율 3.0%</span>
                                </div>
                                <p>2024.06.26 개봉</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr style="height: 1px; background-color: rgb(209, 209, 209);">

            <div class="cancel-section my-3">
                <div class="header-section">
                    <h5 style="font-weight: bolder; margin-bottom: 2%;">MY 취소내역</h5>
                    <p class="info-text">상영일 기준 지난 7일 동안의 취소내역입니다.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>관련 영화/매점</th>
                        <th>관련 CGV</th>
                        <th>관련 일시</th>
                        <th>취소일</th>
                        <th>결제취소 금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="5" class="text-center">고객님의 최근 취소내역이 존재하지 않습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{{> layout/footer}}