{{> layout/header}}
<head>
    <link rel="stylesheet" href="/css/mypageHome.css">
</head>


<div class="container">
    <div class="profile-card">
        <div class="header">
            <img src="{{model.userDTO.imgFilename}}">
            <div class="info">
                <h3>{{model.userDTO.name}}님</h3>
                <p><strong>{{model.userDTO.nickname}}</strong></p>
                <p>고객님은 <span class="text-danger">일반</span> 입니다.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 points">
                <h4>POINT <i class="fas fa-question-circle" data-toggle="tooltip"
                             title="1,000P 이상부터 10P 단위로 사용 가능합니다."></i></h4>
                <p>사용가능 포인트 <strong>{{model.userDTO.point}} 점</strong></p>
            </div>
            <div class="col-md-6 vip-points">
                <h4>VIP 점수 <i class="fas fa-question-circle" data-toggle="tooltip"
                              title="1만점 누적 달성하시면 다음달 VIP로 승급됩니다."></i></h4>
                <p>VIP 누적 점수 <strong>{{model.userDTO.point}}/10,000점</strong></p>
            </div>
        </div>


        <div class="grid">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
            <div class="setting" style="text-align: center; font-weight: bold" onclick="openModal()">빠른 극장 선택</div>
        </div>
    </div>

    <!-- 밑의 부분 -->
    <div class="row mt-5 justify-content-between">
        {{> layout/sidebar}}
        <div class="col-md-9 content-section">
            <div class="row row-style">
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        🎈
                        <h6>기대되는 영화</h6>
                        <p>보고 싶은 영화를<br>미리 담아두고 싶다면?</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        💖
                        <h6>내가 본 영화</h6>
                        <p>관람한 영화를<br>한 번에 모아 보고 싶다면?</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        ⭐
                        <h6>내가 쓴 평점</h6>
                        <p>관람 후 내 느낌을<br>점수로 남기고 싶다면?</p>
                    </a>
                </div>
            </div>

            <br>

            <div class="mt-4">
                <h5>MY 예매내역 0건 <span class="add-button">+</span></h5>

                <div class="mt-4 boxed">
                    {{#model.ticketingDTO}}
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/image/movie/{{imgFilename}}" class="img-fluid" style="width: 100px; height: 150px">
                                <p class="card-text">예매번호 이거 맞춰야합니다~</p>
                            </div>
                            <div class="col-md-9" style="padding-top: 5%">
                                <h5 class="card-title"><strong>{{title}}</strong></h5>
                                <p class="card-text">관람극장 {{theaterName}} ({{name}})</p>
                                <p class="card-text">관람일시 {{date}}</p>
                                <p class="card-text">상영시간 {{startTime}} ({{startTime}} ~ {{endTime}})</p>
                            </div>
                        </div>
                    {{/model.ticketingDTO}}

                    {{^model.ticketingDTO}}
                            <p>고객님의 최근 예매내역이 존재하지 않습니다.</p>
                    {{/model.ticketingDTO}}
                </div>

            </div>
            <div class="mt-4">
                <h5>MY Q&A 0건 <span class="add-button">+</span></h5>
                <div class="mt-4 boxed">
                    <p>고객님의 1:1 문의내역이 존재하지 않습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달창 html 디자인 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="tab">
            <div style="background-color: #4E0929; color: white">자주가는 META BOX</div>
        </div>
        <div class="tab-content active" id="tab1">
            <div class="theater-list">
                {{#model.theaterDTOS}}
                    <div data-theater="{{areaName}}">{{areaName}}</div>
                {{/model.theaterDTOS}}
            </div>
        </div>
        <div class="tab-content active" id="tab2">
            <div class="theater-list">
                {{#model.theaterDTOS}}
                    {{#theaterNameDTOS}}
                        <div data-theater="{{theaterName}}">{{theaterName}}</div>
                    {{/theaterNameDTOS}}
                {{/model.theaterDTOS}}
            </div>
        </div>

        <div class="selected-theater">
            <!-- 선택한 극장이 여기 표시됩니다 -->
        </div>

    </div>
</div>

<script>

    //툴팁
    $('[data-toggle="tooltip"]').tooltip();

    // 모달창 script
    function openModal() {
        $("#myModal").css("display", "block");
    }

    function closeModal() {
        $("#myModal").css("display", "none");
    }

    $('.tab-button').on('click', function () {
        $('.tab-button').removeClass('active');
        $('.tab-content').removeClass('active');

        $(this).addClass('active');
        $('#' + $(this).data('tab')).addClass('active');
    });

    $(window).on('click', function (event) {
        if (event.target == $("#myModal")[0]) {
            closeModal();
        }
    });

    const maxSelectedTheaters = 5;

    $('.theater-list div').on('click', function () {
        if ($('.selected-theater div').length >= maxSelectedTheaters) {
            alert('최대 5개의 극장만 선택할 수 있습니다.');
            return;
        }

        const theaterName = $(this).data('theater');
        const selectedTheater = $(`
            <div>
                ${theaterName}
                <button class="delete-button">&times;</button>
            </div>
        `);

        selectedTheater.find('.delete-button').on('click', function () {
            $(this).parent().remove();
        });

        $('.selected-theater').append(selectedTheater);
    });

</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{{> layout/footer}}
