{{> layout/header}}
<head>
    <link rel="stylesheet" href="/css/mypageHome.css">
</head>


<div class="container">
    <div class="profile-card">
        <div class="header">
            <img src="{{model.userDTO.imgFilename}}">
            <div class="info">
                <h3>{{model.userDTO.name}}님</h3>
                <p><strong>{{model.userDTO.nickname}}</strong></p>
                <p>환영합니다! <span class="text-danger">최고의 영화</span> 와 함께 <span class="text-danger">특별한 시간</span>을 보내세요.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 points">
                <h4>POINT <i class="fas fa-question-circle" data-toggle="tooltip"
                             title="1,000P 이상부터 10P 단위로 사용 가능합니다."></i></h4>
                <p>사용가능 포인트 <strong>{{model.userDTO.point}} 점</strong></p>
            </div>
        </div>

        <div class="grid">
            {{#model.theaterScrapDTOS}}
                <div>{{name}}</div>
            {{/model.theaterScrapDTOS}}
            <div class="setting" style="text-align: center; font-weight: bold" onclick="openModal()">빠른 극장 선택</div>
        </div>

    </div>

    <!-- 밑의 부분 -->
    <div class="row mt-5 justify-content-between">
        {{> layout/sidebar}}
        <div class="col-md-9 content-section">
            <div class="row row-style">
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        🎈
                        <h6>기대되는 영화</h6>
                        <p>보고 싶은 영화를<br>미리 담아두고 싶다면?</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        💖
                        <h6>내가 본 영화</h6>
                        <p>관람한 영화를<br>한 번에 모아 보고 싶다면?</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/mypage/detail-saw" style="text-decoration: none; color: inherit;">
                        ⭐
                        <h6>내가 쓴 평점</h6>
                        <p>관람 후 내 느낌을<br>점수로 남기고 싶다면?</p>
                    </a>
                </div>
            </div>

            <br>

            <div class="mt-4">
                <h5>MY 예매내역 0건 <span class="add-button">+</span></h5>

                <div class="mt-4 boxed">
                    {{#model.ticketingDTO}}
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/image/movie/{{imgFilename}}" class="img-fluid"
                                     style="width: 100px; height: 150px">
                                <p class="card-text">예매번호 이거 맞춰야합니다~</p>
                            </div>
                            <div class="col-md-9" style="padding-top: 5%">
                                <h5 class="card-title"><strong>{{title}}</strong></h5>
                                <p class="card-text">관람극장 {{theaterName}} ({{name}})</p>
                                <p class="card-text">관람일시 {{date}}</p>
                                <p class="card-text">상영시간 {{startTime}} ({{startTime}} ~ {{endTime}})</p>
                            </div>
                        </div>
                    {{/model.ticketingDTO}}

                    {{^model.ticketingDTO}}
                        <p>고객님의 최근 예매내역이 존재하지 않습니다.</p>
                    {{/model.ticketingDTO}}
                </div>

            </div>
            <div class="mt-4">
                <h5>MY Q&A 0건 <span class="add-button">+</span></h5>
                <div class="mt-4 boxed">
                    <p>고객님의 1:1 문의내역이 존재하지 않습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 모달창 html 디자인 -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="tab">
            <div style="background-color: #4E0929; color: white">자주가는 META BOX</div>
        </div>
        <div class="tab-content active" id="tab1">
            <div class="theater-list theater-area-list">
                {{#model.theaterDTOS}}
                    <div class="tab-button" data-theater-id="{{id}}" data-area="{{areaName}}">{{areaName}}</div>
                {{/model.theaterDTOS}}
            </div>
        </div>
        {{#model.theaterDTOS}}
            <div class="tab-content area-name-list" id="area-name-list-{{id}}">
                {{#theaterNameDTOS}}
                    <div class="theater-list theater-list-name">
                        <div data-theater-name-id="{{theaterId}}" data-theater="{{theaterName}}">{{theaterName}}</div>
                    </div>
                {{/theaterNameDTOS}}
            </div>
        {{/model.theaterDTOS}}

        <div class="selected-theater">
            <!-- 선택한 극장이 여기 표시됩니다 -->
        </div>

        <div class="button-container">
            <button id="checkListButton" type="button" onclick="checkList()">확인</button>
        </div>

    </div>
</div>

<script>


    // 항상 div 5개 유지하게
    const maxSlots = 5;
    const $grid = $('.grid');
    const currentSlots = $grid.children().length - 1; // 설정 버튼 제외
    const emptySlots = maxSlots - currentSlots;

    for (let i = 0; i < emptySlots; i++) {
        $('<div></div>').insertBefore('.setting');
    }


    // 스크랩 납치
    let myTheaterScrap = [];

    function checkList() {
        // alert("작동함1");

        let userId = {{model.userDTO.id}};
        console.log("userId " + userId);

        // alert("작동함2");

        // theaterName 의 id, theater 값 잘 받아오는지 확인용
        $('.selected-theater div').each(function () {

            // alert("작동함3");
            // theater pk 키
            let theaterNameId = $(this).data("theater-name-id");
            console.log("극장pk " + theaterNameId);

            // 중복 확인
            if (!myTheaterScrap.some(item => item.theaterNameId === theaterNameId)) {
                let selectList = {
                    theaterNameId: theaterNameId,
                    userId: userId
                };

                myTheaterScrap.push(selectList);

                // alert("작동함4");
            }

        });

        // alert("작동함5");
        console.log("이거 나오나요? " + myTheaterScrap);
        console.log("이쪽은 나오나요 ?? " + JSON.stringify(myTheaterScrap));

        // alert("작동함6");

        $.ajax({
            url: '/mypage/home/scrap',
            data: JSON.stringify(myTheaterScrap),
            contentType: 'application/json; charset=utf-8',
            type: 'POST'

        }).done((res) => {
            alert("자주가는 META BOX 설정이 완료되었습니다.");
            closeModal();
            location.reload();

        }).fail((res) => {
            alert("error!")
        });

    }

    //툴팁
    $('[data-toggle="tooltip"]').tooltip();

    // 모달창 script
    function openModal() {
        $("#myModal").css("display", "block");
    }

    function closeModal() {
        $("#myModal").css("display", "none");
    }

    // area 거는 것
    $('.theater-area-list').on('click', '.tab-button', function () {
        // alert("찍힘 ")
        let id = $(this).data('theater-id');
        // console.log("id " + id)
        $('.area-name-list').removeClass('active');
        // 클릭한 버튼과 일치하는 영역 표시
        $('#area-name-list-' + id).addClass('active');

    });

    // 모달창 닫기
    $(window).on('click', function (event) {
        if (event.target == $("#myModal")[0]) {
            closeModal();
        }
    });

    // 최대 5개. 중복체크도 필요함
    const maxSelectedTheaters = 5;

    // MEATABOX 강남 거는 것
    $('.theater-list-name div').on('click', function () {

        // alert("알림");

        $(this).css({
            'background-color': '#c6c6c6', // 배경색도 추가
        });

        // 중복체크 용 값
        const theaterName = $(this).data('theater');
        console.log("네임 " + theaterName)

        // 중복제거
        let isSelected = false;
        $('.selected-theater div').each(function () {

            // 악 이거 지금 그냥 text만 찍으니까 &times; 이값이랑 같이 가져와서 그런다 ㅠㅠ contents~filter 같이 써야한다
            // 지금은 밑에 data 넣어놔서 data 값으로 꺼내와도 되는데 번거로우니 바꾸지 않겠다!!
            const textNode = $(this).contents().filter(function () {
                return this.nodeType === 3; // 텍스트 노드만 선택
            }).text().trim();

            // console.log("왜안될까요 " + $(this).text());
            if (textNode === theaterName) {
                isSelected = true;
                return false;
            }
        });

        // 이 코드도 있어야지 중복 해결 됨!!
        if (isSelected) {
            // alert("중복");
            return;
        }


        if ($('.selected-theater div').length >= maxSelectedTheaters) {
            alert('최대 5개의 극장만 선택할 수 있습니다.');
            return;
        }

        // 스크랩용
        let theaterNameIds = $(this).data("theater-name-id");
        console.log("아이디아이디 = " + theaterNameIds);

        // 극장 추가
        // console.log("네임아 " + theaterName);
        const selectedTheater = $(`
            <div data-theater="${theaterName}" data-theater-name-id="${theaterNameIds}">
                ${theaterName}
                <button class="delete-button">&times;</button>
            </div>
        `);

        selectedTheater.find('.delete-button').on('click', function () {
            // delete-button 의 parent인 div data-theater에서 theaterName 을 찾음
            const parentDiv = $(this).parent();
            // console.log("이거 뭘까 = " + parentDiv);
            // 그 theaterName에서 date 값을 가져옴
            const theaterName = parentDiv.data('theater');
            // console.log("이건? = " + theaterName);

            // 해당 극장의 배경색 초기화
            // 그럼 data-theater에서 theaterName 인 div 를 찾아 css 를 빼주면 됨!
            $(`.theater-list-name div[data-theater="${theaterName}"]`).css({
                'background-color': '', // 배경색 초기화
            });

            // myTheaterScrap에서 해당 극장 제거
            myTheaterScrap = myTheaterScrap.filter(item => item.theaterNameId !== parentDiv.data('theater-name-id'));

            $(this).parent().remove();
        });

        $('.selected-theater').append(selectedTheater);

    });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
{{> layout/footer}}
