{{> layout/header}}
<style>

    .movie-card {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .movie-info {
        flex-grow: 1;
    }

    .movie-info h5 {
        margin: 0 0 10px 0;
    }

    .movie-info p {
        margin: 0 0 10px 0;
    }

    .movie-poster {
        width: 100px;
        height: 150px;
        margin-right: 20px;
    }
</style>

<div class="container">
    <!-- 유저 정보 -->
    <div class="row mt-4">
        {{> layout/mypage-detail-sidebar}}


        <!--영화 리스트-->
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4>내가 쓴 한 줄 평 1건</h4>
                <div class="d-flex">
                    <select class="form-control mr-2" id="yearSelect">
                        <option value="">년도 선택</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                    </select>
                    <button class="btn btn-outline-danger form-control" onclick="searchMovies()">검색</button>
                </div>
            </div>
            {{#reviewList}}
                <div class="movie-card">
                    <img src="/image/movie/{{imgFilename}}" class="movie-poster" alt="Exhuma">
                    <div class="movie-info">
                        <h5>{{title}}</h5>
                        <p>상영일: {{startDate}}~{{endDate}}</p>
                        <p>나의 댓글: {{comment}}</p>
                        <p>나의 별점: {{rating}}</p>
                    </div>
                    <form action="/review/delete/{{id}}" method="post">
                        <button class="btn">X</button>
                    </form>
                </div>
            {{/reviewList}}
            {{^reviewList}}
                <p>고객님의 댓글 내역이 존재하지 않습니다.</p>
            {{/reviewList}}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script>
    function searchMovies() {
        const selectedYear = document.getElementById('yearSelect').value;
        if (selectedYear) {
            alert(`선택한 년도: ${selectedYear}`);
            // 여기에 선택한 년도에 따라 검색 로직을 구현하세요
        }
    }
</script>

{{> layout/footer}}