{{> layout/header}}
<style>

    .movie-poster-container {
        position: relative;
        display: inline-block;
    }

    .movie-poster {
        width: 100%;
        height: auto;
    }

    .btn-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        border: none;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 10px;
        border-radius: 5px;
    }

    .badge {
        font-size: 1rem;
        border-radius: 0px;
        color: #1386a5;
        background-color: white;
        border: 2px solid #1386a5;
    }

    .rating {
        font-size: 1rem;
        font-weight: bold;
    }

    .section-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
    }

    .chart-container {
        margin-top: 20px;
    }

    .comment {
        display: flex;
        align-items: flex-start;
        padding: 10px;
        border-bottom: 1px solid #e9ecef;
    }

    .comment img {
        border-radius: 50%;
        margin-right: 10px;
    }

    .comment-body {
        flex: 1;
    }

    .comment-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: #6c757d;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .page-item.active .page-link {
        color: red;
        text-decoration: underline;
    }

    .footer-text {
        font-size: 0.8rem;
    }

    .movie-detail {
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
    }

    .movie-detail img {
        width: 200px;
        height: 300px;
        object-fit: cover;
    }

    .movie-info {
        margin-left: 20px;
    }

    .movie-info h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .movie-info .sub-title {
        font-size: 1rem;
        color: gray;
    }

    .movie-info .rating {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .movie-info .rating .badge {
        margin-left: 10px;
    }

    .movie-info .details {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .movie-info .details p {
        margin: 0;
    }

    .movie-info .btn-group {
        margin-top: 20px;
    }

    .synopsis {
        margin-top: 20px;
        font-size: smaller;
        line-height: 1.5;
        font-weight: 600;
    }

    .chart-container {
        margin-top: 40px;
    }

    .chart-container canvas {
        width: 100% !important;
        height: 400px !important;
    }

    .table-container {
        margin-top: 40px;
    }

    .table-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .table-container th,
    .table-container td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: center;
    }

    .stills-header,
    .trailer-header {
        display: flex;
        align-items: center;
        background-color: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .stills-header span,
    .trailer-header span {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000;
        border-radius: 50%;
    }

    .carousel-item img {
        max-width: 300px;
        max-height: 450px;
        margin: 0 auto;
    }

    .trailer-container {
        margin-top: 20px;
    }

    .trailer-item {
        position: relative;
        margin-bottom: 20px;
    }

    .trailer-item img {
        width: 100%;
        height: auto;
    }

    .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 0, 0, 0.7);
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
    }

    .trailer-info {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    .trailer-info span {
        font-size: 12px;
        color: #333;
        margin-right: 5px;
    }

    .trailer-info .badge {
        font-size: 10px;
        background-color: #007bff;
        color: white;
        margin-right: 5px;
    }

    .review-section {
        background-color: #f8f9fa;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .review-section p {
        margin: 0;
    }

    .highlight {
        color: red;
    }

    .btn-group {
        display: flex;
        gap: 10px;
    }

    .btn-custom {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .comment img.profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .clicked {
        background-color: #4b1b3a; /* Change this to the desired background color */
    }

    #modalOpenButton, #modalCloseButton {
        cursor: pointer;
    }

    #modalContainer {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
    }

    #modalContent {
        position: absolute;
        background-color: #ffffff;
        width: 300px;
        height: 250px;
        padding: 15px;
    }

    #modalContainer.hidden {
        display: none;
    }

    .rating__input {
        display: none; /* 라디오버튼 hide */
    }

    .rating__label {
        width: 12px; /* 원본 사이즈/2 */
        overflow: hidden;
        cursor: pointer;
    }

    .rating__label .star-icon {
        width: 12px; /* 원본 사이즈/2 */
        height: 24px;
        display: block;
        position: relative;
        left: 0;
        background-image: url("/image/star-regular.svg");
        background-repeat: no-repeat;
    }

    .rating__label--full .star-icon {
        background-position: right;
    }

    .rating__label--half .star-icon {
        background-position: left;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--<div class="layer-wrap">-->
<!--    <div class="layer-contents on-shadow" style="width:710px;">-->
<!--        <div class="popup-general">-->
<!--            <div class="popwrap">-->
<!--                <h1>평점작성</h1>-->
<!--                <div class="pop-contents">-->

<!--                    <div class="mygrade-cont">-->
<!--                        <div class="movietit"><strong id="regTitle">파묘</strong></div>-->
<!--                        <div class="likeornot">-->
<!--                            <div class="writerinfo">-->
<!--                                <div class="box-image">-->
<!--									<span class="thumb-image">-->
<!--										<img id="regUserPro"-->
<!--                                             src="http://img.cgv.co.kr/R2014/images/common/default_profile.gif"-->
<!--                                             alt="사용자 프로필" onerror="errorImage(this, {'type':'profile'})">-->

<!--                                        <span class="profile-mask"></span>-->
<!--									</span>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->

<!--                        <div class="textbox">-->
<!--                            <textarea id="textReviewContent" name="textReviewContent" title="영화평점 입력" cols="70" rows="2"-->
<!--                                      maxlength="280"-->
<!--                                      placeholder="운영원칙에 어긋나는 게시물로 판단되는 글은 제재 조치를 받을 수 있습니다."></textarea>-->
<!--                        </div>-->

<!--                        <div class="footbox">-->
<!--							<span class="role">-->
<!--								<a id="viewpopup" title="새창" href="javascript:void(0);" target="_blank">운영원칙 <img-->
<!--                                        src="http://img.cgv.co.kr/R2014/images/common/ico/ico-question-mark.png"-->
<!--                                        alt="?"></a>-->
<!--							</span>-->

<!--                            <div class="rbox">-->
<!--                                <span class="count"><strong id="text_count">0</strong>/280(byte)</span>-->
<!--                                <button type="button" class="round red on" id="regBtn"><span>작성완료!</span></button>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                </div>-->
<!--                <button type="button" class="btn-close" id="regLayerClose">평점작성 팝업 닫기</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <hr>
    <div class="movie-detail">
        <div class="movie-poster-container">
            <img src="/image/movie/{{model.imgFilename}}" alt="Movie Poster" class="movie-poster">
            <form action="/scrap/{{model.id}}/movie" method="post">
                <button id="myButton" class="btn btn-outline-secondary btn-icon" onclick="scrapButton()">
                    <img src="/image/movie/icon-192.png" style="width: 25px; height: 25px;">찜
                </button>
            </form>

        </div>
        <div class="movie-info">
            <h2>{{model.title}} <span class="badge badge-primary">{{model.releaseStatus}}</span></h2>
            <p class="sub-title">{{model.engTitle}}</p>
            <p class="rating">{{model.bookingRate}} %</p>
            <div class="details">
                <p>감독: {{model.director}}</p>
                <p>배우: {{model.actor}}</p>
                <p>장르: {{model.genre}}</p>
                <p>기본 정보: {{model.info}}</p>
                <p>개봉: {{model.startDate}}</p>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger" style="height: 40px;">예매하기</button>
            </div>
        </div>
    </div>
    <div class="synopsis">
        <pre>{{{model.description}}}</pre>
    </div>
    <div class="row chart-container">
        <div class="col-md-6">
            <h3 class="section-title">성별 예매 분포</h3>
            <canvas id="genderChart"></canvas>
        </div>
        <div class="col-md-6">
            <h3 class="section-title">연령별 예매 분포</h3>
            <canvas id="ageChart"></canvas>
        </div>
    </div>
    <div class="container trailer-container">
        <div class="trailer-header">
            <span>트레일러 3건</span>
        </div>
        <div class="row">
            <div class="col-md-4 trailer-item">
                <img src="https://via.placeholder.com/300x200" alt="Trailer 1">
                <button class="play-button">&#9658;</button>
                <div class="trailer-info">
                    <span class="badge">HD</span>
                    <span>메인 예고편</span>
                </div>
                <div class="trailer-info">
                    <span>2024.03.14</span>
                </div>
            </div>
            <div class="col-md-4 trailer-item">
                <img src="https://via.placeholder.com/300x200" alt="Trailer 2">
                <button class="play-button">&#9658;</button>
                <div class="trailer-info">
                    <span class="badge">HD</span>
                    <span>감정 컨트롤 본부 중계 영상</span>
                </div>
                <div class="trailer-info">
                    <span>2024.02.21</span>
                </div>
            </div>
            <div class="col-md-4 trailer-item">
                <img src="https://via.placeholder.com/300x200" alt="Trailer 3">
                <button class="play-button">&#9658;</button>
                <div class="trailer-info">
                    <span class="badge">HD</span>
                    <span>티저 예고편</span>
                </div>
                <div class="trailer-info">
                    <span>2024.02.20</span>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-container">
        <div class="container stills-container">
            <div class="stills-header">
                <span>스틸컷 {{model.stillsCount}}건</span>
            </div>
        </div>
        <div id="imageCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/image/movie/{{model.imgFilename}}" class="d-block w-100" alt="Slide 1">
                </div>
                {{#model.stills}}
                    <div class="carousel-item">
                        <img src="/image/movie_pic/{{fileName}}" class="d-block w-100" alt="Slide 2">
                    </div>
                {{/model.stills}}
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="review-section">
        <div>
            <p>관람일 포함 7일 이내 관람평을 남기시면 <span class="highlight">20P</span>가 적립됩니다.</p>
            <p><strong>{{model.reviewCount}}</strong>명의 실관람객이 평가해주셨습니다.</p>
        </div>

        <div class="btn-group">

            <button class="btn btn-danger btn-custom" id="modalOpenButton">댓글작성</button>
            <form action="/review-save" method="post">
                <input type="hidden" name="movieId" value="{{model.id}}">
                <div id="modalContainer" class="hidden">
                    <div class="form-group" id="modalContent">
                        <div class="comment">
                            <label for="comment">한 줄 평</label>
                            <input type="text" class="form-control" id="comment" name="comment"
                                   placeholder="한 줄 평을 남겨주세요.">
                        </div>
                        <div class="rating">
                            <label class="rating__label rating__label--half" for="starhalf">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--full" for="star1">
                                <input type="radio" id="star1" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--half" for="starhalf">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--full" for="star1">
                                <input type="radio" id="star1" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--half" for="starhalf">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--full" for="star1">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--half" for="starhalf">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--full" for="star1">
                                <input type="radio" id="star1" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--half" for="starhalf">
                                <input type="radio" id="starhalf" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                            <label class="rating__label rating__label--full" for="star1">
                                <input type="radio" id="star1" class="rating__input" name="rating" value="">
                                <span class="star-icon"></span>
                            </label>
                        </div>
                        <button id="modalCloseButton">확인</button>
                        <a href="/movie-detail/{{model.id}}" class="btn btn-secondary">취소</a>
                    </div>
                </div>
            </form>

            <button class="btn btn-secondary btn-custom">내 평점</button>
        </div>


    </div>
    <div class="container comment-section">
        {{#model.reviews}}
            <div class="d-flex justify-content-between">
                <div class="comment">
                    <img src="{{userProfile}}" alt="User 1" class="profile-img">
                    <div class="comment-body">
                        <p><strong>{{reviewer}}: </strong>{{comment}}</p>
                        <div class="comment-footer">
                            <span>2024.06.14</span>
                        </div>
                    </div>
                </div>
                <div style="margin-right: 20px">
                    <p>{{rating}}/5.0</p>
                </div>
            </div>

        {{/model.reviews}}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        다음 10개
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    var ctxGender = document.getElementById('genderChart').getContext('2d');
    var genderChart = new Chart(ctxGender, {
        type: 'doughnut',
        data: {
            labels: ['남 33.8%', '여 66.2%'],
            datasets: [{
                data: [33.8, 66.2],
                backgroundColor: ['#4e73df', '#e74a3b'],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                position: 'bottom',
            },
            title: {
                display: false,
            }
        }
    });

    var ctxAge = document.getElementById('ageChart').getContext('2d');
    var ageChart = new Chart(ctxAge, {
        type: 'bar',
        data: {
            labels: ['10대', '20대', '30대', '40대', '50대'],
            datasets: [{
                label: '연령별 예매 분포',
                data: [8.2, 29.5, 28.5, 24.7, 9.2],
                backgroundColor: ['#6c757d', '#a0522d', '#6c757d', '#6c757d', '#6c757d'],
                borderColor: ['#6c757d', '#a0522d', '#6c757d', '#6c757d', '#6c757d'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 10
                    }
                }
            }
        }
    });
</script>
<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        const button = document.getElementById('myButton');-->
<!--        button.addEventListener('click', function() {-->
<!--            button.classList.toggle('clicked');-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script>
    let isMovieScrapped = false;

    function scrapButton() {
        if (isMovieScrapped) {
            if (confirm("찜하시겠습니까?")) {
                document.getElementById('myButton').classList.add('clicked');
                alert("기대되는 영화에 추가되었습니다.");
                isMovieScrapped = true;
            } else {
                alert("취소되었습니다.");
            }
        } else {
            if (confirm("찜하기를 취소하시겠습니까?")) {
                document.getElementById('myButton').classList.remove('clicked');
                alert("취소되었습니다.");
                isMovieScrapped = false;
            } else {
                alert("찜하기를 유지합니다.");
            }
        }
    }
</script>
<script>
    const modalOpenButton = document.getElementById('modalOpenButton');
    const modalCloseButton = document.getElementById('modalCloseButton');
    const modal = document.getElementById('modalContainer');

    modalOpenButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
    });

    modalCloseButton.addEventListener('click', () => {
        modal.classList.add('hidden');
    });
</script>
<script>
    const rateWrap = document.querySelectorAll('.rating'),
            label = document.querySelectorAll('.rating .rating__label'),
            input = document.querySelectorAll('.rating .rating__input'),
            labelLength = label.length,
            opacityHover = '0.5';

    let stars = document.querySelectorAll('.rating .star-icon');

    checkedRate();


    rateWrap.forEach(wrap => {
        wrap.addEventListener('mouseenter', () => {
            stars = wrap.querySelectorAll('.star-icon');

            stars.forEach((starIcon, idx) => {
                starIcon.addEventListener('mouseenter', () => {
                    if (wrap.classList.contains('readonly') == false) {
                        initStars(); // 기선택된 별점 무시하고 초기화
                        filledRate(idx, labelLength);  // hover target만큼 별점 active

                        // hover 시 active된 별점의 opacity 조정
                        for (let i = 0; i < stars.length; i++) {
                            if (stars[i].classList.contains('filled')) {
                                stars[i].style.opacity = opacityHover;
                            }
                        }
                    }
                });

                starIcon.addEventListener('mouseleave', () => {
                    if (wrap.classList.contains('readonly') == false) {
                        starIcon.style.opacity = '1';
                        checkedRate(); // 체크된 라디오 버튼 만큼 별점 active
                    }
                });

                // rate wrap을 벗어날 때 active된 별점의 opacity = 1
                wrap.addEventListener('mouseleave', () => {
                    if (wrap.classList.contains('readonly') == false) {
                        starIcon.style.opacity = '1';
                    }
                });

                // readonnly 일 때 비활성화
                wrap.addEventListener('click', (e) => {
                    if (wrap.classList.contains('readonly')) {
                        e.preventDefault();
                    }
                });
            });
        });
    });

    // target보다 인덱스가 낮은 .star-icon에 .filled 추가 (별점 구현)
    function filledRate(index, length) {
        if (index <= length) {
            for (let i = 0; i <= index; i++) {
                stars[i].classList.add('filled');
            }
        }
    }

    // 선택된 라디오버튼 이하 인덱스는 별점 active
    function checkedRate() {
        let checkedRadio = document.querySelectorAll('.rating input[type="radio"]:checked');


        initStars();
        checkedRadio.forEach(radio => {
            let previousSiblings = prevAll(radio);

            for (let i = 0; i < previousSiblings.length; i++) {
                previousSiblings[i].querySelector('.star-icon').classList.add('filled');
            }

            radio.nextElementSibling.classList.add('filled');

            function prevAll() {
                let radioSiblings = [],
                        prevSibling = radio.parentElement.previousElementSibling;

                while (prevSibling) {
                    radioSiblings.push(prevSibling);
                    prevSibling = prevSibling.previousElementSibling;
                }
                return radioSiblings;
            }
        });
    }

    // 별점 초기화 (0)
    function initStars() {
        for (let i = 0; i < stars.length; i++) {
            stars[i].classList.remove('filled');
        }
    }
</script>
{{> layout/footer}}