{{> layout/header}}

<style>

    .header-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        width: 200px;
    }

    .navbar-nav-movie .nav-link.active {
        color: #ff4d4d;
        font-weight: bold;
    }

    .navbar-nav-movie .nav-link::before {
        content: '▶';
        margin-right: 5px;
    }

    .navbar-nav-movie .nav-link.active::before {
        content: '▶';
        color: #ff4d4d;
    }

    .navbar-nav-movie {
        margin-left: auto;
        display: flex;
        background-color: white;
    }

    .filter-container {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-container .form-inline select {
        margin-right: 5px;
    }

    .movie-card {
        margin-bottom: 30px;
        width: 250px; /* 이미지 너비에 맞춤 */
    }

    .movie-card img {
        width: 100%;
        height: 250px;
        position: relative;
        object-fit: cover;
    }

    .movie-card .card-body {
        text-align: center;
        padding: 10px; /* 카드 내부 패딩 조정 */
    }

    .movie-card .card-title {
        font-size: 1rem; /* 제목 크기 조정 */
        font-weight: bold;
        white-space: nowrap; /* 텍스트 줄바꿈 방지 */
        overflow: hidden; /* 넘치는 텍스트 숨김 */
        text-overflow: ellipsis; /* 말줄임표(...) 추가 */
    }

    .movie-card .card-text {
        font-size: 0.8rem; /* 텍스트 크기 조정 */
    }

    .movie-card .btn {
        margin-top: 10px;
        font-size: 0.8rem; /* 버튼 텍스트 크기 조정 */
        padding: 5px 10px; /* 버튼 패딩 조정 */
    }

    .rank {
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .badge {
        margin: 2px;
        width: 30px;
        position: absolute;
    }
</style>

<div class="container">
    <header class="d-flex justify-content-between align-items-center my-4">
        <h1 class="header-title">무비차트</h1>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav-movie ml-auto">
                    <a class="nav-link active" href="/movies/list">무비차트</a>
                    <a class="nav-link" href="#">상영예정작</a>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <div class="filter-container">
        <div class="form-inline">
            <select class="form-control form-control-sm">
                <option>예매율순</option>
                <option>평점순</option>
                <option>관람객순</option>
            </select>
            <button class="btn btn-secondary btn-sm">GO</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Movie Card Example -->
        <div class="col-auto movie-card">
            <div class="rank">No.1</div>
            <div class="card">

                <a href="/movies/detail"><img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Movie 1"></a>
                <span class="badge badge-success">ALL</span>

                <div class="card-body">
                    <h5 class="card-title">인사이드 아웃 2</h5>
                    <p class="card-text">예매율: 55.8%</p>
                    <p class="release-date">2024.06.12 개봉</p>
                    <button class="btn btn-danger">예매하기</button>
                </div>
            </div>
        </div>
        <div class="col-auto movie-card">
            <div class="rank">No.2</div>
            <div class="card">

                <a href="/movies/detail"><img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Movie 2"></a>
                <span class="badge badge-warning">12</span>
                <div class="card-body">
                    <h5 class="card-title">하이재킹</h5>
                    <p class="card-text">예매율: 6.3%</p>
                    <p class="release-date">2024.06.21 개봉 <span class="d-day">D-7</span></p>
                    <button class="btn btn-danger">예매하기</button>
                </div>
            </div>
        </div>
        <div class="col-auto movie-card">
            <div class="rank">No.3</div>
            <div class="card">

                <a href="/movies/detail"><img src="https://via.placeholder.com/200x300" class="card-img-top" alt="Movie 3"></a>
                <span class="badge badge-success">ALL</span>
                <div class="card-body">
                    <h5 class="card-title">극장판 하이큐!! 쓰레기장의 결전</h5>
                    <p class="card-text">예매율: 5.7%</p>
                    <p class="release-date">2024.05.15 개봉</p>
                    <button class="btn btn-danger">예매하기</button>
                </div>
            </div>
        </div>
        <!-- Add more movie cards as needed -->
    </div>
</div>
{{> layout/footer}}