{{> layout/header}}

<style>
    .header-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        width: 200px;
    }

    .navbar-nav-movie .nav-link.active {
        color: #ff4d4d;
        font-weight: bold;
    }

    .navbar-nav-movie .nav-link::before {
        content: '▶';
        margin-right: 5px;
    }

    .navbar-nav-movie .nav-link.active::before {
        content: '▶';
        color: #ff4d4d;
    }

    .navbar-nav-movie {
        margin-left: auto;
        display: flex;
        background-color: white;
    }

    .filter-container {
        display: flex;
        justify-content: end;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-container .form-inline select {
        margin-right: 5px;
    }

    .movie-card {
        margin-bottom: 30px;
        width: 250px;
    }

    .movie-card img {
        width: 100%;
        height: 250px;
        position: relative;
        object-fit: cover;
    }

    .movie-card .card-body {
        text-align: center;
        padding: 10px;
    }

    .movie-card .card-title {
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .movie-card .card-text {
        font-size: 0.8rem;
    }

    .movie-card .btn {
        margin-top: 10px;
        font-size: 0.8rem;
        padding: 5px 10px;
    }

    .rank {
        color: white;
        padding: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .badge {
        margin: 2px;
        white-space: nowrap;
        width: auto;
        position: absolute;
        padding: 7px 7px;
        font-size: 1.2rem;
        border-radius: 0.75rem;
        color: white;
        text-align: center;
        line-height: 1.5rem;
    }

    .release-status {
        background-color: white;
        color: black;
        padding: 2px 6px;
        border-radius: 4px;
        display: inline-block;
        font-size: 0.8rem;
        font-family: inherit;
        border: 2px solid #6c757d;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div class="container">
    <header class="d-flex justify-content-between align-items-center my-4">
        <h1 class="header-title">
            {{#isUpcoming}}상영 예정작{{/isUpcoming}}
            {{^isUpcoming}}무비차트{{/isUpcoming}}
        </h1>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav-movie ml-auto">
                    <a class="nav-link {{^isUpcoming}}active{{/isUpcoming}}" href="/movies/list">무비차트</a>
                    <a class="nav-link {{#isUpcoming}}active{{/isUpcoming}}" href="/movies/list?type=upcoming">상영예정작</a>
                </div>
            </div>
        </nav>
    </header>
    <hr>
    <div class="filter-container">
        <div class="form-inline">
            <select class="form-control form-control-sm">
                <option>예매율순</option>
                <option>평점순</option>
                <option>관람객순</option>
            </select>
            <button class="btn btn-secondary btn-sm">GO</button>
        </div>
    </div>
    <div class="row justify-content-center" id="movie-list">
        {{#models}}
            <div class="col-auto movie-card">
                <div class="rank" style="background-color:#4E0929;">No.{{rank}}</div>
                <div class="card">
                    <a href="/movies/detail/{{id}}">
                        <img src="/image/movie/{{imgFilename}}" class="card-img-top">
                    </a>
                    <span class="{{ageInfoColor}}">{{ageInfo}}</span>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{bookingRate}} %</p>
                        <p class="release-date">{{startDate}} <span class="release-status">{{releaseStatus}}</span></p>
                        <span><a href="/book-form" class="btn btn-danger">예매하기</a></span>
                    </div>
                </div>
            </div>
        {{/models}}
    </div>
    <div class="text-center">
        <button id="load-more" class="btn btn-primary">더 보기</button>
    </div>
</div>

<script>
    const isUpcoming = {{isUpcoming}}; // 서버에서 전달받은 boolean 값을 사용
    let currentPage = {{currentPage}}; // let으로 변경하여 재할당 가능하게 함
    const totalPages = {{totalPages}};

    document.getElementById('load-more').addEventListener('click', function() {
        if (currentPage + 1 < totalPages) {
            loadMoreMovies(currentPage + 1);
        } else {
            alert('더 이상 영화가 없습니다.');
        }
    });

    function loadMoreMovies(page) {
        const type = isUpcoming ? 'upcoming' : 'all'; // isUpcoming을 사용하여 type 결정
        fetch(`/movies/list/data?type=${type}&page=${page}&size=4`) // JSON 데이터를 반환하는 새로운 엔드포인트 사용
                .then(response => response.json())
                .then(data => {
                    const movieContainer = document.getElementById('movie-list');
                    data.models.forEach(movie => {
                        const movieElement = document.createElement('div');
                        movieElement.className = 'col-auto movie-card';
                        movieElement.innerHTML = `
                        <div class="rank" style="background-color:#4E0929;">No.${movie.rank}</div>
                        <div class="card">
                            <a href="/movies/detail/${movie.id}">
                                <img src="/image/movie/${movie.imgFilename}" class="card-img-top">
                            </a>
                            <span class="${movie.ageInfoColor}">${movie.ageInfo}</span>
                            <div class="card-body">
                                <h5 class="card-title">${movie.title}</h5>
                                <p class="card-text">${movie.bookingRate} %</p>
                                <p class="release-date">${movie.startDate} <span class="release-status">${movie.releaseStatus}</span></p>
                                <span><a href="/book-form" class="btn btn-danger">예매하기</a></span>
                            </div>
                        </div>
                    `;
                        movieContainer.appendChild(movieElement);
                    });
                    currentPage = page;  // 현재 페이지 업데이트
                    document.getElementById('load-more').setAttribute('data-current-page', page);
                })
                .catch(error => console.error('Error:', error));
    }
</script>

{{> layout/footer}}
