body {
    background-color: #f8f9fa;
}

.megabox-logo {
    text-align: center;
    margin-top: 50px;
}

.megabox-logo img {
    width: 200px;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #6c757d;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-text {
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    text-align: center;
}

.btn-custom {
    display: block;
    width: 100%;
    background-color: #4E0929;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #851b4c;
}

.form-group label {
    font-weight: bold;
}

.megabox-slogan {
    font-size: 12px;
    color: #6c757d;
    text-align: center;
    margin-top: 5px;
}

.modal-header {
    border-bottom: none;
    background-color: #4E0929;
    color: #fff;
    text-align: center;
}

.modal-footer {
    border-top: none;
    text-align: center;
}

.modal-body {
    padding: 20px;
    text-align: center;
}

.modal-content {
    border-radius: 10px;
    overflow: hidden;
}

.modal-title {
    font-size: 24px;
    width: 100%;
}

.modal-body p {
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-body .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #4E0929;
}

.modal-body .value {
    font-size: 16px;
    margin-bottom: 15px;
    color: #000000;
}

.btn-secondary {
    background-color: #4E0929;
    color: #fff;
    border: none;
}

.btn-secondary:hover {
    background-color: #851b4c;
}