/*.sidebar {*/
/*    background-color: #F2F4F5;*/
/*    padding: 15px;*/
/*    border-radius: 10px;*/
/*    border: 1px solid #ddd;*/
/*    margin-top: 30%;*/
/*}*/

/*.sidebar .nav-link {*/
/*    color: #333;*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*.sidebar .nav-link:hover {*/
/*    background-color: #d2dae0;*/
/*    color: #4E0929;*/
/*    font-weight: bold;*/
/*}*/

.form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    text-align: left;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.form-container p {
    font-size: 14px;
    color: #333;
}

.form-container .form-group label {
    font-weight: bold;
}

.form-container .form-group .required:after {
    content: " *";
    color: red;
}

.form-container .btn-custom {
    background-color: #4E0929;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-container .btn-custom:hover {
    background-color: #851b4c;
}

.privacy-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.privacy-box p {
    margin-bottom: 10px;
    font-size: 14px;
}

/*.sidebar-header {*/
/*    color: rgb(0, 0, 0);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    padding: 10px 0;*/
/*    border-bottom: 2px solid white;*/
/*}*/

/*.sidebar .nav-link {*/
/*    color: rgb(0, 0, 0);*/
/*}*/

/*.sidebar .nav-link.active {*/
/*    background-color: #6c757d;*/
/*    color: white;*/
/*}*/

/*.sidebar .contact-info {*/
/*    text-align: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.sidebar .contact-info p {*/
/*    color: #4E0929;*/
/*    font-size: 14px;*/
/*}*/

/*.sidebar .contact-info .time {*/
/*    font-size: 12px;*/
/*    margin-top: 5px;*/
/*}*/

/*.sidebar .contact-info i {*/
/*    color: white;*/
/*    margin-right: 5px;*/
/*}*/