@charset "UTF-8";

.nav-link-flex {
    display: flex;
    flex-direction: column;
    /* 요소들을 수직으로 정렬 */
    align-items: center;
    /* 중앙 정렬 */
    text-align: center;
    /* 텍스트 중앙 정렬 */
    font-size: 12px;
    font-color: #dadada;
}

.nav-img {
    height: 40px;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    border-bottom: 1px solid #dadada;
}

body {
    padding-top: 20px; /* 헤더의 높이만큼 상단에 패딩 추가 */
}
.navbar-brand-logo{
    width: 300px;
    height: 100%;
}
.navbar-brand-footer{
    width: 150px;
    height: 100%;
    margin-right: 30px;
}
.navbar-nav .nav-link {
    /* color: black; */
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: red;
}

.navbar-nav .nav-link:hover {
    color: red;
}

.navbar-icons .nav-link {
    color: grey;
}

.navbar-icons .nav-link:hover {
    color: red;
}

.sub-navbar {
    padding-top: 10px;
}

