{{> layout/header}}

<style>
    /* 본문 */
    .step-header {
        background-color: #4E0929;
        color: white;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid #ddd;
    }
    .step-content {
        padding: 10px;
        border: 1px solid #ddd;
        border-top: none;
    }
    .nav-tabs .nav-link {
        border: 1px solid #ddd;
        border-bottom: none;
        color: #333;
    }
    .nav-tabs .nav-link.active {
        background-color: #f8f9fa;
        border-color: #ddd #ddd #f8f9fa;
    }
    .tab-content {
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
    }
    .form-group label {
        font-weight: bold;
    }
    .form-group input[type="number"] {
        width: 100px;
        display: inline-block;
    }

    /* 옆에 결제바 */
    .summary-box {
        padding: 5px;  /* 줄어든 padding */
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;  /* 줄어든 margin */
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 80%;
        margin-left: 25px;
    }
    .summary-box .summary-item {
        margin-bottom: 5px;  /* 줄어든 margin */
    }
    .summary-box .summary-item:last-child {
        margin-bottom: 0;
    }
    .summary-box .summary-item .value {
        font-weight: bold;
        font-size: 1.2rem;  /* 줄어든 font-size */
    }
    .summary-box .summary-item .label {
        font-weight: bold;
        font-size: 0.9rem;  /* 줄어든 font-size */
    }
    .summary-box.payment-amount {
        background: linear-gradient(to bottom, #eab8b8 50%, #ffffff 50%);
        color: #343a40;
        border: 1px solid #000;
    }
    .summary-box.discount-amount {
        background: linear-gradient(to bottom, #d1ecf1 50%, #ffffff 50%);
        color: #0c5460;
        border: 1px solid #000;
    }
    .summary-box.payment-details {
        background: linear-gradient(to bottom, #fff3cd 50%, #ffffff 50%);
        color: #856404;
        border: 1px solid #000;
    }

    /* 하단 바 */
    .info-bar {
        background-color: #1c1c1c;
        color: white;
        padding: 10px 0;
        z-index: 1000; /* 높여서 info-bar가 푸터 위에 오도록 설정 */
        bottom: 0;
        width: 100%;
    }
    .info-bar .nav-item {
        display: flex;
        align-items: center;

    }
    .info-bar .nav-link {
        color: #4E0929;
        padding: 0 15px;
    }
    .info-bar .nav-link:hover {
        color: #ccc;
    }
    .nav-tabs .nav-link.active {
        background-color: #5c5c5c !important;
        color: white !important;
    }
    .info-bar .movie-info {
        display: flex;
        align-items: center;
    }
    .info-bar .movie-info img {
        width: 50px;
        height: 75px;
        margin-right: 15px;
    }
    .info-bar .movie-info .details {
        display: flex;
        flex-direction: column;
    }
    .info-bar .movie-info .details span {
        margin-bottom: 5px;
    }
    .info-bar .btn-nav {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .info-bar .btn-nav:hover {
        background-color: #555;
    }

    .b-color {
        background-color: #F9F9F9;
    }


    .content-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        flex: 1;
    }

    .custom-buttons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        max-width: 900px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 32%;
    }

</style>

<div class="content-wrapper">
    <div class="content">
        <div class="container mt-5">

            <div class="custom-buttons">
                <button type="button" class="btn btn-secondary fa-solid fa-clock" style="background-color: #4E0929;"> 상영시간표</button>
                <button type="button" class="btn btn-secondary fa-solid fa-rotate-right" style="background-color: #4E0929;"> 예매 다시하기</button>
            </div>
            <div class="row b-color">
                <div class="col-md-8">
                    <div class="step-header">포인트 및 결제</div>
                    <div id="step3" class="collapse show step-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active">포인트</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="cjone" role="tabpanel" aria-labelledby="cjone-tab">
                                <br>
                                <p>보유 포인트: <span class="text-danger">56 P</span></p>
                                <div class="form-group">
                                    <label for="usePoints">사용할 포인트</label>
                                    <input type="number" class="form-control" id="usePoints" value="0"> P
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="allUse">
                                        <label class="form-check-label" for="allUse">모두사용</label>
                                    </div>
                                </div>
                                <div class="alert alert-secondary" role="alert">
                                    포인트는 1,000P 이상부터 10P 단위로 사용 가능합니다.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="step3" class="collapse show step-content">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active">신용카드</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="cjone" role="tabpanel">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="creditCardType">신용카드 종류를 선택하세요:</label>
                                        <select class="form-control" id="creditCardType" name="creditCardType">
                                            <option value="bc">BC카드</option>
                                            <option value="hana">하나카드</option>
                                            <option value="samsung">삼성카드</option>
                                            <option value="woori">우리카드</option>
                                            <option value="kb">KB국민카드</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="summary-box payment-amount mt-4">
                        <div class="summary-item">
                            <span class="label">결제 금액</span>
                        </div>
                        <div class="summary-item">
                            <span class="value">15,000원</span>
                        </div>
                    </div>
                    <div class="summary-box discount-amount">
                        <div class="summary-item">
                            <span class="label">할인 금액</span>
                        </div>
                        <div class="summary-item">
                            <span class="value">0원</span>
                        </div>
                    </div>
                    <div class="summary-box payment-details">
                        <div class="summary-item">
                            <span class="label">남은 결제 금액</span>
                        </div>
                        <div class="summary-item">
                            <span class="value">15,000원</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info-bar">
        <div class="container d-flex justify-content-between align-items-center">
            <button class="btn-nav">영화선택</button>
            <div class="movie-info">
                <img src="/img/insideout.jpg" alt="영화 포스터">
                <div class="details">
                    <span>인사이드아웃2</span>
                    <span>2D(자막)</span>
                    <span>전체 관람가</span>
                </div>
            </div>
            <div class="movie-details">
                <span>극장: CGV 미아</span><br>
                <span>일시: 2024.6.21(금) 19:20</span><br>
                <span>상영관: 3관 10층 (Laser)</span><br>
                <span>인원: </span>
            </div>
            <button class="btn-nav">결제선택</button>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{{> layout/footer}}